jupyter-book>=1.0.4
jupyterlab>=4.2
jupytext>=1.16
nbconvert>=7.16
ipykernel>=6.29
ipywidgets>=8.1
folium>=0.17
matplotlib>=3.9
networkx>=3.3
numpy>=2.1
pandas>=2.2
plotly>=5.24
scipy>=1.14
shapely>=2.0
geopandas>=1.0
scikit-learn>=1.5
datacommons_pandas>=0.0.3
libpysal>=4.12
esda>=2.6
spreg>=1.8

